#General Extensions
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

#Log Files
pids
logs

#Result Files
results

#Debug and Node
npm-debug.log
node_modules

#Config files
public/config.js
private/config.json
